*{
margin: 0px;
padding: 0px;
}
html{
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    height: 100vh;
    overflow-y: scroll;
}
main{
    display: flex;
    gap: 5px;
}
header{
    background-color: silver;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
header ul{
    display: flex;
    list-style-type: none;
}
header ul li{
    padding: 0px 10px;
}
nav{
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    height: 725px;
    position: fixed;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    padding: 10px 15px;
}
nav li div{
    display: inline;
}
#search{
    background-color: #a4001b;
}
#aside_left{
   background-color: #eeeeee;
   min-height: 100vh;
   flex: 1;
   margin-top: 5px;
   margin-left: 46.5px;
   padding: 10px 20px;
}
#aside_right{
    background-color: #eeeeee;
    min-height: 100vh;
    flex: 1;
    margin-top: 5px;
    margin-right: 5px;
    padding: 10px 20px;
}
section{
    background-color: #eeeeee;
    min-height: 100vh;
    flex: 4;
    margin-top: 5px;
    padding: 10px 20px;
}
h1{
    font-weight: lighter;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color: black;
}
img{
    max-width: 100%;  
}
.card{
    margin: 20px 0px;
}
#trending, #Music, #Gaming {
    display: flex;
    flex-flow: row ;
    gap: 10px;
    width: 56rem;
    text-overflow: ellipsis;
}
section article .card{
    flex: 224px;
}

