body{
    background-color: #15202B;
    overflow-x: hidden;
    overflow-y: visible;
    margin: 0 auto;
}
#wrapper{
    margin-left:auto;
    margin-right:auto;
    max-width: 600px;
    padding-left: 15px;
    padding-right: 15px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
.login-text {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 23px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    text-align: center;
    line-height: 1.3125;
}
.credentials{
    width: 100%;
    padding: 0px 15px 10px 15px;
}

*:focus{
    outline: none;
}

table{
    border-collapse: separate;
    border-spacing: 0 19px;
    width: 100%;
    padding-right: 30px;
}
th, td {
    background-color: rgb(25, 39, 52);
    border: none;
    width: 100%;
    
}
input {
    height: 25px;
    width: 100%;
    line-height: 3;
    font-size: 25px;
    background-color: rgb(25, 39, 52);
    border: none;
    color: #ffffff;
}
*:focus{
    outline: none;
}
tr{
    height: 10px;
    margin-top: 20px;

}
td{
    padding-right: 10px;
    padding-left: 10px;
    color: rgb(136, 153, 166);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    border-bottom-width: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(136, 153, 166);
    border-left-color: rgb(136, 153, 166);
    border-right-color: rgb(136, 153, 166);
    border-top-color: rgb(136, 153, 166);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
}
input[type = submit]{
    border-radius : 30px ;
    height: 50px;
    text-align: center;
    font-size: medium;
    font-weight: 600;
    background-color: rgb(29, 161, 242);
    opacity: 0.5;
    min-height: 49px;
    outline-style: none;
    }
#forgot{
    text-decoration: none;
    line-height: 1.3125;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    color: #1e88e5  
}